// styles/_variables.scss

// Color Variables
$primary-color: #444444;
$secondary-color: #3bc0ff;
$background-color: #fff;
$hover-color: #222222;
$menu-background: #f7f7f7;
$border-color: #ddd;

// Font Variables
$font-family: "Arial", sans-serif; // Default font family
$font-size-base: 16px; // Base font size

// Breakpoints
$breakpoint-mobile: 576px; // Mobile breakpoint
$breakpoint-tablet: 768px; // Tablet breakpoint
$breakpoint-desktop: 1024px; // Desktop breakpoint

// Other Variables
$border-radius: 3px; // Default border radius for buttons
